#grid-view-wrapper {
    display: grid;
    height: 100vh;
    font-size: 14px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 14fr;
    grid-template-areas: 
        "title search"
        "cardCanvas cardCanvas";
    column-gap: .4em;
}

#title {
    grid-area: title;
    font-size: 4em;
    text-align: left;
}

#search {
    grid-area: search;
    border: 0px;
    font-size: 2em;
    border: 2px solid grey;
    border-radius: 5px;
}

#card-canvas {
    grid-area: cardCanvas;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}