#grid-view-wrapper {
    display: grid;
    height: 100vh;
    font-size: 14px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 14fr;
    grid-template-areas: 
        "title search"
        "cardCanvas cardCanvas";
    column-gap: .4em;

    #title {
        grid-area: title;
        font-size: 4em;
        text-align: left;
    }
    
    #search {
        grid-area: search;
        border: 0px;
        font-size: 2em;
        border: 2px solid grey;
        border-radius: 5px;
        background-color: rgb(240, 243, 247);
    }
    
    #card-canvas {
        grid-area: cardCanvas;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        #end-of-cards-ref {
            height: 1px;
            width: 1px;
        }
    }

    #no-results-message {
        display: flex;
        align-items: center;
        grid-column: 1/-1;
        font-size: 4.5em;

        span {
            flex-basis: 100%;
            text-align: center;
        }
    }
    
    #loading-message {
        height: 100%;
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        font-size: 4.5em;
        background-color: rgba(247, 247, 247, 0.7);

        span {
            flex-basis: 100%;
            text-align: center;
        }
    }
}

@media (max-width: 1024px) {
    #grid-view-wrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 14fr;
        grid-template-areas: 
            "title search"
            "cardCanvas cardCanvas";
    
        #card-canvas {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (max-width: 730px) {
    #grid-view-wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 14fr;
        grid-template-areas: 
            "title"
            "search"
            "cardCanvas";
        text-align: center;

        #title {
            text-align: center;
        }
    
        #search {
            text-align: center;
            height: 2.2em;
            font-size: 2em;
        }

        #card-canvas {
            grid-template-columns: 1fr;
        }
    }
}